@import "./_variables.scss";

.logo-primary {
    width: 250px;
}

body {
    font-family: $font-family;
}

header {
    background-image: url("../img/header-background.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    #header-principal-text {
        position: relative;
        // height: 100%;

        h1 {
            font-size: 4em;
            color: $primary;
        }
    }
}

.w-90 {
    width: 90%;
}

section {
    margin-top: 5px;

    h1 {
        text-align: center;
    }
}

footer {
    background-image: url("../img/footer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
    width: 100%;
}

.btn-atc-primary {
    color: #fff !important;
    background-color: $secondary !important;
}

.subtitle {
    color: $secondary;
    text-transform: uppercase;
    font-size: small;
}

.testimonials-images-area {
    display: flex;
    align-items: start;
    justify-content: space-around;

    #img-testimonial-1 {
        z-index: 0;
    }

    #img-testimonial-2 {
        z-index: 1;
        position: absolute;
        left: 116px;
        // position: relative;
        // left: 186px;
    }

    #img-testimonial-3 {
        z-index: -1;
        position: absolute;
        left: 550px;
    }
}

@import "./bootstrap.scss";
