.logo-primary {
    width: 250px;
}

section img {
    width: 500px;
}

footer {
    background-image: url("../img/footer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

@import "./bootstrap.scss";
